
.todo_screen{
    height: 100vh;
    background: rgb(54, 53, 53);
    
}
.todo_app{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.todo_app h1{
    color: white;
    padding-top: 30px;
}
.todo_input{
    padding: 10px 8px;
    border-radius: 4px;
    margin-right: 3px;
}
.todo_input_button{
    color: white;
    background-color: rgb(92, 90, 90);
    padding: 10px 8px;
    border-radius: 4px;
}
.todo_ul{
    padding: 5px;
    align-items: center;
}
.todo_ul li{
    font-size: 18px;
    padding: 4px;
    color: white;
    list-style: none;
}


.item.done{
    text-decoration: line-through;
    background-color: aqua;
}